* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.headersection {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(7, 7, 8);
  color: azure;
}
.center ul li {
  list-style: none;
  display: inline flex;
  margin: 0 10px;
}
.left{
  flex: 4;

}
.right{
  flex: 4;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

}
.search{
  flex: 2;

}
.center{
  flex: 4;

}
.title{
  font-size: x-large;
}
.bannerBox img{
 width: 100%;
}
.bannerBox{
  margin: 6px 0px;
}
.menImages{
  display: flex;
  gap: 10px;
}
.menImages img{
  width: 220px;
  height: 220px;
}
.LadiesBanner{
  width:100%;
}
.search input{
 width: 15rem;
 padding: 10px;
 border-radius: 8px;
}